        <div id="stickies" class="container-fluid vh-100">
          <div class="popup-box">
            <div class="popup">
              <div class="content">
                <header>
                    <p>Add a new note</p>
                    <i class="uil uil-times"></i>
                </header>
                <form action="#">
                  <div class="row title">
                    <label for="">Title</label>
                    <input type="text" id="title">
                  </div>
                  <div class="row description">
                    <label for="">Description</label>
                    <textarea id="desc"></textarea>
                  </div>
                  <button id="addNote">Add Note</button>
                </form>
              </div>
            </div>
          </div>
          <div class="wrapper">
            <li class="add-box">
              <div class="icon">
                  <i class="uil uil-file-plus-alt"></i>
              </div>
            </li>
          </div>
        </div>