<div id="timer" class="container-fluid vh-100 text-light">
  <div class="app row p-5 h-100" id="app">
    <div class="timer row text-center">
      <progress id="js-progress" value="0" class="hidden"></progress>
      <div class="button-group mode-buttons row pt-5" id="js-mode-buttons">
        <button data-mode="pomodoro" class="button active mode-button col" id="js-pomodoro">Pomodoro</button>
        <button data-mode="shortBreak" class="button mode-button col" id="js-short-break">Short break</button>
        <button data-mode="longBreak" class="button mode-button col" id="js-long-break">Long break</button>
      </div>
      <div class="clock row pt-5 g-0" id="js-clock">
        <span id="js-minutes" class="col-sm-3">25</span>
        <span class="separator col-sm-1">:</span>
        <span id="js-seconds" class="col-sm-3">00</span>
      </div>
      <button class="main-button col-3 mx-auto" data-action="start" id="js-btn">
        Start
      </button>
    </div>
  </div>
  <div class="hidden">
    <!-- <audio src="backtowork.mp3" data-sound="pomodoro"></audio>
    <audio src="break.mp3" data-sound="shortBreak"></audio>
    <audio src="break.mp3" data-sound="longBreak"></audio> -->
  </div>
</div>