<div id="music" class="container-fluid vh-100 pt-5">
  <h2 class="fs-1 text-light text-center">Music</h2>
  <div class="container-fluid mt-3">
    <form class="d-flex col-5 mx-auto" role="search" onsubmit="getVideos(event)">
      <input class="form-control me-2" id="searchQuery" type="search" on placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
    <div id="results-frame" class="container h-75">
      <div id="results-grid" class="row row-cols-5 h-100">
      <!-- Card Grid -->
      </div>
    </div>
</div>