//custom variables
$primary: #DFDACE;
$dark: #042515;
//Nav
$nav-underline-gap: 2rem;
$nav-underline-link-active-color: #AABC8C;
$nav-link-hover-color: #3B8E3A;


$font-family-sans-serif: 'Yeseva One';
$h1-font-size: 4rem;

@import '../node_modules/bootstrap/scss/bootstrap';